:root {
  /* COLOUR */
  --clr-neut-0: rgba(255, 255, 255, 100%);
  --clr-neut-300: rgba(209, 208, 213, 100%);
  --clr-neut-500: rgba(135, 132, 165, 100%);
  --clr-neut-700: rgba(75, 72, 105, 100%);
  --clr-neut-900: rgba(13, 8, 45, 100%);
  --clr-neut-950: rgba(4, 1, 40, 100%);
  --clr-orange-300: rgba(245, 116, 99, 75%);
  --clr-orange-500: rgba(245, 116, 99, 100%);
  --clr-orange-700: rgba(225, 96, 79, 100%);
  --clr-input-bg: rgba(255, 255, 255, 8%);
  --clr-drag-area-btn-bg: rgba(255, 255, 255, 10%);
  --clr-input-bg-hover: rgba(255, 255, 255, 20%);

  --clr-error: var(--clr-orange-500);
  --clr-grad1-0: rgba(255, 255, 255, 100%);
  --clr-grad1-100: rgba(243, 115, 98, 100%);

  /* TYPOGRAPHY */
  --font-primary: Inconsolata, sans-serif;

  --fs-100: 0.75rem; /* 12px */
  --fs-150: 0.875rem; /* 14px */
  --fs-200: 1.125rem; /* 18px */
  --fs-300: 1.25rem; /* 20px */
  --fs-400: 1.375rem; /* 22px */
  --fs-500: 1.5rem; /* 24px */
  --fs-600: 1.875rem; /* 30px */
  --fs-700: 2.5rem; /* 40px */
  --fs-800: 3.75rem; /* 60px */

  --fs-preset-1: var(--fs-600);
  --fs-preset-2: var(--fs-500);
  --fs-preset-3: var(--fs-400);
  --fs-preset-4: var(--fs-300);
  --fs-preset-5: var(--fs-300);
  --fs-preset-6: var(--fs-200);
  --fs-preset-7: var(--fs-100);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --lh-110: 1.1;
  --lh-120: 1.2;

  --ls-50: -0.2px;
  --ls-75: -0.3px;
  --ls-100: -0.5px;
  --ls-200: -1px;

  /* SPACING */
  --spacing-025: 0.125rem;
  --spacing-050: 0.25rem;
  --spacing-075: 0.375rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-750: 3.75rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1100: 7.125rem;

  /* BORDER RADIUS */
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* INPUT FOCUSSED OUTLINE */
  --outline-input: 2px solid var(--clr-neut-300);

  /* TRANSITION */
  --transition-form: all 150ms ease-in-out;
}

@media (min-width: 35em) {
  :root {
    --fs-preset-1: var(--fs-800);
    --fs-preset-2: var(--fs-700);
    --fs-preset-3: var(--fs-600);
    --fs-preset-4: var(--fs-500);
  }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ UTILITY CLASSES ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ TYPOGRAPHY ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
body {
  font-family: var(--font-primary);
  color: var(--clr-neut-300);
}

.text-preset1,
h1 {
  font-size: clamp(var(--fs-600), 8vw, var(--fs-800));
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-110);
  letter-spacing: var(--ls-200);
  color: var(--clr-neut-0);
}

.text-preset2 {
  font-size: var(--fs-preset-2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-110);
  letter-spacing: var(--ls-200);
}

.text-preset3 {
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-110);
  letter-spacing: var(--ls-200);
}

.text-preset4,
.form-intro-section p,
.ticket-intro-section p {
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-120);
  letter-spacing: var(--ls-100);
}

.text-preset5,
form label,
.cta-submit {
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-medium);
  line-height: var(--lh-110);
  letter-spacing: var(--ls-100);
}

.text-preset6,
.drag-area__prompt,
form input {
  font-size: var(--fs-preset-6);
  font-weight: var(--fw-medium);
  line-height: var(--lh-120);
}

.text-preset7,
.drag-area__info-tip,
.drag-area__option-btns,
.error {
  font-size: var(--fs-preset-7);
  font-weight: var(--fw-regular);
  line-height: var(--lh-120);
  letter-spacing: var(--ls-50);
}

.error {
  color: var(--clr-error);
}

/* FORM TYPOGRAPHY */
form label {
  color: var(--clr-neut-0);
}

.cta-submit {
  font-weight: var(--fw-extrabold);
  color: var(--clr-neut-900);
}

/* TICKET TYPOGRAPHY */
#introEmailAddress {
  color: var(--clr-orange-500);
}

.ticket__attendee-details__text-title {
  font-size: clamp(var(--fs-500), 7cqw, var(--fs-700));
  color: var(--clr-neut-0);
}

.ticket__attendee-details__text-p {
  font-size: clamp(var(--fs-100), 4cqw, var(--fs-200));
}

#ticketFullName {
  font-size: clamp(var(--fs-300), 6cqw, var(--fs-600));
  color: var(--clr-neut-0);
}

#ticketGithubUsername {
  font-size: clamp(var(--fs-150), 4cqw, var(--fs-300));
}

#ticket__ticket-number {
  font-size: clamp(var(--fs-400), 6cqw, var(--fs-600));
  font-weight: var(--fw-medium);
  color: var(--clr-neut-500);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ PAGE LAYOUT ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

body {
  background-image: url(../assets/images/pattern-lines.svg),
    url(../assets/images/background-mobile.png);
  background-position: top, bottom right;
  background-size: 79.125rem 48.625rem, cover;
  background-repeat: no-repeat, no-repeat;
  min-height: 100dvh;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ BACKGROUND PATTERNS */
.background-patterns {
  position: relative;
  min-height: inherit;
  overflow: hidden;
}

.background-patterns .bg-absolute {
  position: absolute;
  z-index: -1;
}

.bg-squiggle-top {
  width: 7rem;
  top: 1.5rem;
  right: 0;
}

.bg-circle {
  width: 6.6875rem;
  top: 34.25rem;
  right: -2.8125rem;
}

.bg-squiggle-bottom-mob {
  width: 18.8125rem;
  bottom: 0;
  left: 0;
}

.bg-squiggle-bottom-desk {
  display: none;
  width: 51.5625rem;
  bottom: 0;
  left: 0;
}

@media (min-width: 35em) {
  .bg-squiggle-top {
    width: 14.5rem;
    top: 5.5rem;
  }

  .bg-circle {
    width: 13.5625rem;
    top: 34.5rem;
    right: -7.375rem;
  }

  .bg-squiggle-bottom-mob {
    width: 24.75rem;
  }
}

@media (min-width: 90em) {
  .bg-squiggle-top {
    width: 27.875rem;
    top: 4.75rem;
  }

  .bg-circle {
    top: 33.375rem;
    right: 17.8125rem;
  }

  .bg-squiggle-bottom-desk {
    display: block;
  }

  .bg-squiggle-bottom-mob {
    display: none;
  }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ PAGE */
.page-wrapper {
  padding: var(--spacing-400) var(--spacing-200) var(--spacing-1100);
}

main > section {
  margin-top: var(--spacing-500);
}

header img {
  height: 1.5rem;
  margin-inline: auto;
}

.form-intro-section,
.ticket-intro-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-250);
  text-align: center;
}

@media (min-width: 35em) {
  body {
    background-image: url(../assets/images/pattern-lines.svg),
      url(../assets/images/background-tablet.png);
    background-position: top, bottom right;
    background-size: auto 48.625rem, cover;
    background-repeat: repeat-x, no-repeat;
  }

  main > section {
    margin-top: var(--spacing-750);
  }

  .form-intro-section,
  .ticket-intro-section {
    gap: var(--spacing-400);
  }
}

@media (min-width: 90em) {
  body {
    background-image: url(../assets/images/pattern-lines.svg),
      url(../assets/images/background-desktop.png);
    background-size: auto 68.75rem, cover;
  }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ FORM SECTION ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.form-intro-section {
  max-width: 55.625rem;
  margin-inline: auto;
}

.form-section form {
  margin-top: var(--spacing-500);
  margin-inline: auto;
  max-width: 32.625rem;

  display: grid;
  gap: var(--spacing-300);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.drag-area {
  padding: var(--spacing-250);
  background-color: var(--clr-input-bg);
  border: 2px dashed var(--clr-neut-500);
  border-radius: var(--radius-12);
  display: grid;
  place-items: center;
  text-align: center;
  gap: var(--spacing-200);
  transition: var(--transition-form);
}

.drag-area__thumbnail {
  width: 3.125rem;
  aspect-ratio: 1;
  border: 1px solid var(--clr-neut-700);
  border-radius: var(--radius-12);
  background-color: var(--clr-drag-area-btn-bg);
  background-repeat: no-repeat;
  background-position: center;
}

.drag-area__prompt:empty {
  display: none;
}

.drag-area__option-btns {
  display: flex;
  gap: var(--spacing-100);
}

.drag-area__option-btns button {
  padding: var(--spacing-050) var(--spacing-100);
  background-color: var(--clr-drag-area-btn-bg);
  border: none;
  border-radius: var(--radius-4);
  transition: var(--transition-form);
}

.drag-area__remove-btn {
  text-decoration: underline;
}

.form-group label {
  max-width: fit-content;
}

.form-group input {
  padding: var(--spacing-200);
  background-color: var(--clr-input-bg);
  border: 1px solid var(--clr-neut-500);
  border-radius: var(--radius-12);
  transition: var(--transition-form);
}

.drag-area__info-tip,
.error {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.error svg path,
.error svg path fill {
  stroke: var(--clr-error);
}

/* .error:has(p:empty) {
  display: none;
} */

.error {
  display: none;
}

.error__active {
  border-color: var(--clr-error) !important;
}

.cta-submit {
  padding: var(--spacing-200);
  background-color: var(--clr-orange-500);
  border: none;
  border-radius: var(--radius-12);
  box-shadow: 0px 0px 0px var(--clr-orange-300);
  transition: var(--transition-form);
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CURSORS */
.drag-area,
label,
input,
button {
  cursor: pointer;
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ FOCUS STATES */
@media (hover: hover) and (pointer: fine) {
  .drag-area:has(.drag-area__prompt:not(:empty)):hover {
    background-color: var(--clr-input-bg-hover);

    .drag-area__thumbnail {
      box-shadow: 0px 2px 4px -2px var(--clr-neut-950);
    }
  }

  .drag-area__option-btns button:hover,
  .drag-area__option-btns button:focus-visible {
    background-color: var(--clr-input-bg-hover);
  }

  .drag-area__over,
  .drag-area:has(input:focus-visible),
  input:focus-visible,
  .cta-submit:focus-visible,
  .drag-area__option-btns button:focus-visible {
    outline: var(--outline-input);
    outline-offset: 2px;
  }

  .drag-area__over,
  .drag-area:has(input:focus-visible),
  input:focus-visible {
    background-color: var(--clr-input-bg-hover);
  }

  .drag-area__over .drag-area__thumbnail {
    box-shadow: 0px 2px 4px -2px var(--clr-neut-950);
  }

  input:hover {
    background-color: var(--clr-input-bg-hover);
  }

  .cta-submit:hover,
  .cta-submit:focus-visible {
    background-color: var(--clr-orange-700);
  }

  .cta-submit:hover {
    box-shadow: 0px var(--spacing-050) 8px var(--clr-orange-300);
  }
}

@media (min-width: 35em) {
  .form-section form {
    margin-top: 2.8125rem;
  }
}

@media (min-width: 90em) {
  .form-section form {
    max-width: 28.75rem;
  }
}
/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ TICKET SECTION ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.ticket-intro-section h1 {
  max-width: 50.875rem;
}

#introFullName > * {
  display: inline;
  background: linear-gradient(90deg, var(--clr-grad1-100), var(--clr-grad1-0));
  color: transparent;
  background-clip: text;
}

.ticket-intro-section p {
  max-width: 32.125rem;
}

.ticket {
  margin: var(--spacing-400) auto var(--spacing-1100);
  width: 100%;
  max-width: 37.5rem;
  aspect-ratio: 2000 / 933;
  container-type: inline-size;

  background: url(../assets/images/pattern-ticket.svg) no-repeat;
  background-size: contain;
}

.ticket-wrapper {
  height: 100%;
  padding: 5% 0 5% 5%;
  display: grid;
  grid-template-columns: 76cqw 1fr;
  grid-template-areas:
    'conference-details id'
    'attendee-details id';
  align-content: space-between;
}

.ticket__conference-details,
.ticket__attendee-details {
  display: flex;
  gap: 3cqw;
}

.ticket__conference-details {
  align-items: start;
  grid-area: conference-details;
}

.ticket__conference-details__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.ticket__logo {
  width: clamp(1.8125rem, 8.5cqw, 2.5rem);
  aspect-ratio: 1;
}

.ticket__attendee-details {
  align-items: center;
  grid-area: attendee-details;
}

.ticket__attendee-details__text {
  width: 60cqw;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}

.ticket__attendee-details__thumbnail {
  border-radius: var(--radius-10);
  width: clamp(2.8125rem, 13cqw, 5rem);
  aspect-ratio: 1;
  background-image: url('../assets/images/image-avatar.jpg');
  background-size: cover;
}

.ticket__atendee-details__github {
  display: flex;
  align-items: center;
  gap: var(--spacing-050);
}

.ticket__atendee-details__github img {
  height: clamp(16px, 5cqw, 22px);
}

#ticketGithubUsername {
  font-size: clamp(var(--fs-150), 4cqw, var(--fs-300));
  max-width: 90%; /* 90% of the 'ticket__attendee-details__text' div */
}

#ticket__ticket-number {
  grid-area: id;
  writing-mode: sideways-rl;
  place-self: center;

  -webkit-writing-mode: vertical-rl;
}

@media (min-width: 35em) {
  .ticket {
    margin: 4.5rem auto var(--spacing-1100);
  }
}

@media (min-width: 90em) {
  .ticket {
    margin: 7rem auto var(--spacing-1100);
  }
}
